<% content_for :header do %>
    <title> Manager Photo </title>
    <%# <link rel="stylesheet" href="/assets/user/edit_profile.css">  %>
    <%= stylesheet_link_tag '/assets/user/my_photo' %>
<% end %>
  <div class="container">
    <div class="row feed-list py-3">
            <% @photos.each do |photo| %>
                <div class="photo">
                    <div class="photo__status">
                        <span class="ellipsis"> <%= photo.title %></span>
                        <i class="far fa-edit"></i>
                    </div>
                    <div class="photo__image">
                        <% if !current_user.is_admin? %>
                            <% if photo.mode == :private_mode.to_s %>
                                <div class="sharing_mode">
                                    <i class="fas fa-lock"></i>
                                </div>
                            <% end %>
                        <% end %>
                          <%= link_to image_tag("Photos/baitapdautien1.jpg", alt: "image", class: "card-image"), edit_photo_path(photo) %>  
                          <%#= link_to image_tag("Photos/#{photo.image}", alt: "image", class: "card-image"), edit_photo_path(photo) %>  
                    </div>
                </div>
            <% end %>


    </div>
</div>