<% content_for :header do %>
    <%= stylesheet_link_tag 'index'%>
    <title> Home page </title>
<% end %>
   <div class="container">
            <div class="row feed-list py-3">

                <div class="col-lg-6 col-12 feed__item">
                    <div class="card">
                        <div class="card-horizontal">
                            <div class="img-square-wrapper">
                                <img class="card-image" src="images/Photos/HinhNen2.png" alt="Card image cap">
                            </div>
                            <div class="card-body">
                                <div class="feed__author">
                                    <span class="feed__author-avatar"> GT </span>
                                    <span class="author_name"> Tuan Nguyen </span>
                                </div>
                                <h4 class="card-title feed__title">Card title</h4>
                                <p class="card-text feed__description">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <div class="feed__footer">
                                    <div class="feed__like">
                                        <span>
                                            <i class="fa fa-heart"></i>
                                            1999
                                        </span>
                                    </div>
                                    <div class="feed__time">
                                        17/07/2020
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12 feed__item">
                    <div class="card">
                        <div class="card-horizontal">
                            <div class="img-square-wrapper">
                                <img class="card-image" src="images/Photos/baitapdautien1.jpg" alt="Card image cap">
                            </div>
                            <div class="card-body">
                                <div class="feed__author">
                                    <span class="feed__author-avatar"> GT </span>
                                    <span class="author_name"> Tuan Nguyen </span>
                                </div>
                                <h4 class="card-title feed__title">Card title</h4>
                                <p class="card-text feed__description">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <div class="feed__footer">
                                    <div class="feed__like">
                                        <span>
                                            <i class="fa fa-heart"></i>
                                            1999
                                        </span>
                                    </div>
                                    <div class="feed__time">
                                        17/07/2020
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12 feed__item">
                    <div class="card">
                        <div class="card-horizontal">
                            <div class="img-square-wrapper">
                                <img class="card-image" src="images/Photos/colorize_cat_image.jpg" alt="Card image cap">
                            </div>
                            <div class="card-body">
                                <div class="feed__author">
                                    <span class="feed__author-avatar"> GT </span>
                                    <span class="author_name"> Tuan Nguyen </span>
                                </div>
                                <h4 class="card-title feed__title">Card title</h4>
                                <p class="card-text feed__description">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <div class="feed__footer">
                                    <div class="feed__like">
                                        <span>
                                            <i class="fa fa-heart"></i>
                                            1999
                                        </span>
                                    </div>
                                    <div class="feed__time">
                                        17/07/2020
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12 feed__item">
                    <div class="card">
                        <div class="card-horizontal">
                            <div class="img-square-wrapper">
                                <img class="card-image" src="images/Photos/first_project.jpg" alt="Card image cap">
                            </div>
                            <div class="card-body">
                                <div class="feed__author">
                                    <span class="feed__author-avatar"> GT </span>
                                    <span class="author_name"> Tuan Nguyen </span>
                                </div>
                                <h4 class="card-title feed__title">Card title</h4>
                                <p class="card-text feed__description">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <div class="feed__footer">
                                    <div class="feed__like">
                                        <span>
                                            <i class="fa fa-heart"></i>
                                            1999
                                        </span>
                                    </div>
                                    <div class="feed__time">
                                        17/07/2020
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <nav aria-label="Page navigation" id="feed__pagination">
                <ul class="pagination justify-content-center">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>
        </div>