#main .container {
    background-color: var(--white_color);
    margin: 0;
    max-width: unset;
    padding-bottom: 0;
    min-height: unset;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    align-items: center;
    display: flex;
    justify-content: center;
}

#main .container .login__form {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main .container .login__form .login__form-title {
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    color: var(--primary_color);
    margin-bottom: 20px;
}

#main .container .login__form .login__form-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 20px;
    background: var(--bg_form_color);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    min-height: 390px;
}

#main .container .login__form .login__form-body .form__img {
    font-size: 60px;
    position: relative;
    z-index: 1;
    width: 100%;
    text-align: center;
}

#main .container .login__form .login__form-body .form__img::before {
    background-color: rgba(249, 249, 249, 0.5);
    display: block;
    height: 110px;
    width: 100%;
    content: "";
    position: absolute;
    z-index: 2;
}

#main .container .login__form .login__form-body .form__img i {
    background-color: #c2c2bf;
    padding: 25px;
    font-size: 40px;
    border-radius: 50%;
}

#main .container .login__form .login__form-body .login__form-main {
    flex: 0.5;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    max-width: 280px;
}

#main .container .login__form .login__form-body .login__form-main .login__form-input {
    width: 100%;
}

#main .container .login__form .login__form-body .login__form-btn {
    background: var(--primary_color);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    color: var(--white_color);
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
}

#main .container .login__form .signup_link {
    margin-top: 10px;
}

#main .container .login__form .form-link {
    font-size: 15px;
    line-height: 18px;
    color: var(--primary_color);
}